<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fuxing.ppjoke_mvvm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission

        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-sdk tools:overrideLibrary="androidx.camera.extensions,
    androidx.camera.camera2,
    androidx.camera.view,
    androidx.camera.core" />


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:authorities="${applicationId}.fileProvider"
        android:exported="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:grantUriPermissions="true"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"

       >
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent"
            tools:replace="name,configChanges,theme"
            />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 兼容安卓 N -->
        <provider
            android:name="com.fuxing.ppjoke_mvvm.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            tools:replace="name,authorities"
        >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>